*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.container.d-flex.flex-column{
    margin-top:50px;
    padding-top: 25px;
    width: 30%;
    height: 500px;
    border-radius: 18px;
}

.container.d-flex.flex-column form{
    width: 95%;
}

a{
    text-decoration: none;
    color:  #fff;
}
li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li p{
    flex-basis: 95%;
    width: 100%;
    border: 1px solid transparent;
    margin-bottom: 12px;
    cursor: pointer;
}

li button{
    flex-basis: 5%;
    margin-left: 7px;
}
.btn-success,.btn-danger{
    width: 60px;
    height: 30px;
    font-size: 10px;
}
.editing-place{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
